---
# default "About" page layout
layout: default
---
<div class="container my-4 about-contents">
{{ content }}
</div>
<hr>
<style>
h3 {text-align: center;}
</style>
<h3>Metadata Schema</h3>
<style>table, th, td {
  border: 1px solid;
}
  table {
  width: 75%;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}</style>
 <table class="center">
  <tr>
    <th>Element</th>
    <th>Description</th>
    <th>Source</th>
  </tr>
  <tr>
    <td>objectid</td>
    <td>A unique identifer for each object. They include qfm and a number starting at 001 and were assigned to objects in the order they were added to the collection.</td>
    <td></td>
  </tr>
  <tr>
    <td>filename</td>
    <td>The name of the file for each object.</td>
    <td></td>
  </tr>
   <tr>
    <td>title</td>
    <td>A name given to the resource. These include words from the resource itself if available.</td>
    <td>Dublin Core</td>
  </tr>
</table> 
{% if page.credits == true %}{% include cb/credits.html %}{% endif %}
